extend layout
block content
  p
    | Welcome To Search Site
    br
    a(href='/uploadArticles')
      | Click here to Upload Articles
    br
    a(href='/search')
      | Click here to search for Articles