!!!5
html
  head
    title #{title} - Search Site
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src='http://code.jquery.com/jquery-latest.js')
  body
    header
      h1 #{siteName}
    .container
      .main-content
        block content
    footer
      p Running on node with Express, Jade and Stylus