extend layout


block content
	if body.hits
		h4
				| Search Results
		each value in body.hits.hits
			br
			br
			div#articleHeading
				h4
					| #{value._source.Headline}
			br
			br
			div#articleBody 
				!=value._source['Article Body']
	else
		div
			=JSON.stringify(body)

	div
		a(href='/search')
			| Click here to search again 
block sidebar